<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/']">Home</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/error']">Error</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/posts']">List of todos</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/admin']">Admin</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/dash']">Dash</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/address']">Address</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/tree']">Tree</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/drag']">Drag</a></li>
</ul>
  <div class="container p-3 my-3 border">


<router-outlet></router-outlet>

