.red {
  width: 450px;
  border: 1px dashed tomato;
  padding: 1 rem;
  margin-bottom: 1rem;
  background: red
}

.blue {
  width: 450px;
  border: 1px dashed tomato;
  padding: 1 rem;
  margin-bottom: 1rem;
  background: blue
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
  padding: 14px 16px;
}
.active {
  width: 450px;
 
  padding: 14px 16px;
  background: grey
}
